{% extends "_layouts/cp" %}
{% block content %}
<h1>Fundraising Settings</h1>

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('fundraising/settings/save-settings') }}

    <div class="field">
        <label for="defaultCurrency">Default Currency</label>
        <input type="text" id="defaultCurrency" name="defaultCurrency" value="{{ settings.defaultCurrency }}" class="text">
    </div>

    <div class="field">
        <label for="enablePublicCommentsByDefault">
            <input type="checkbox" id="enablePublicCommentsByDefault" name="enablePublicCommentsByDefault" value="1" {% if settings.enablePublicCommentsByDefault %}checked{% endif %}> 
            Enable Public Comments by Default
        </label>
    </div>

    <div class="field">
        <label for="defaultGoalCurrencySymbol">Default Goal Currency Symbol</label>
        <input type="text" id="defaultGoalCurrencySymbol" name="defaultGoalCurrencySymbol" value="{{ settings.defaultGoalCurrencySymbol }}" class="text">
    </div>

    <button class="btn submit" type="submit">Save Settings</button>
</form>
{% endblock %}
